:root {
    --border-radius: 10px;
    --side-margin: 13px;
    --tab-bar-height: calc(55px + env(safe-area-inset-bottom));
    --title-bar-height: calc(44px + env(safe-area-inset-top));
}

html {
    min-height: calc(100% + env(safe-area-inset-top));
    overflow: hidden;
    overscroll-behavior: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, sans-serif;
    font-size: 16px;
    color: #EEEFF4;
    display: flex;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #4B96F7;
}

.container {
    height: calc(100vh - var(--tab-bar-height) - var(--title-bar-height));
    overflow-x: scroll;
    overflow-y: hidde;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

.meta {
    display: flex;
    font-size: 14px;
    gap: 13px;
    color: #616269;
}

.meta .text {
    color: #EEEFF4;
}

.meta>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.meta svg {
    width: auto;
    height: 18px;
}

.list-t3 {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.thing.t3 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: calc(var(--side-margin)*1.19) var(--side-margin);
    gap: 13px;
}

.thing.t3:visited {
    opacity: 0.5 !important;
}

.thing.t3 .title {
    font-size: 16.5px;
    line-height: 1.37em;
}

.thing.t3 .subreddit {
    /* font-size: 12px; */
}

.text-semibold {
    font-weight: 500;
}

.thing.t3 .url {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: var(--border-radius);
}

.thing.t3 .url .url-icon svg {
    height: 20px;
}

.thing.t3 .url .url-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: fit-content;
    font-size: 14px;
    margin-right: auto;
}

.thing.t3 .image img {
    width: 100%;
    max-width: 100%;
    border-radius: var(--border-radius);
    height: auto;
}

.thing.t1 .comment-body {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.thing.t1 .meta {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.md {
    line-height: 1.26em;
}

.md p,
.md blockquote {
    margin: 0.75em 0 0 0;
}

.md img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.md blockquote {
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.07);
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    color: #94969C;
    border-radius: calc(var(--border-radius) * 0.5);
}

.md blockquote p:first-child {
    margin-top: 0.5em;
    `
}

.md blockquote p:before {
    content: "> ";
}

.md h2 {
    font-size: 16px;
}

.list-t1 {
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.list-t1.replies {
    padding: 0px 0 0 13px;
}

.push-right {
    margin-left: auto;
}


/* listing */

.listing {
    padding-top: 5px;
}


/* tab-title */

.title-bar {
    z-index: 10;
    width: 100%;
    display: flex;
    height: var(--title-bar-height);
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* box-shadow: 0px 0.5px 0px 0px #43454C; */
    padding-top: env(safe-area-inset-top);
}


/* tab-bar */

.tab-bar {
    z-index: 10;
    /* box-shadow: 0px -0.5px 0px 0px #43454C; */
    width: 100%;
    display: flex;
    height: var(--tab-bar-height);
    padding-bottom: env(safe-area-inset-bottom);
    align-items: center;
    font-size: 12.5px;
    justify-content: space-around;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}

.tab-bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    /* color: #75787E; */
    gap: 3px;
}

.tab-bar a.active {
    /* color: #4B96F7; */
}

.tab-bar a svg {
    height: 22px;
    width: auto;
}

.section {
    padding: calc(var(--side-margin) * 2);
    border-radius: calc(var(--border-radius) * 2);
    overflow: auto;
}

.section.empty {
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
}

.sections {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: calc(var(--side-margin) * 1);
}

.sections form textarea {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: transparent;
    border: 2px solid #43454C;
    overflow: auto;
}


/* generic-list */

.list-header {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin: 1em 0 0em 0;
}

.generic-list {
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--border-radius) * 2);
    overflow: auto;
    gap: 1px
}

.generic-list>* {
    padding: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.np-outer-switch {
    width: 70px;
    height: 34px;
    border-radius: 30px;
    background: rgb(212, 212, 212);
    cursor: pointer;
    position: relative;
}

.np-outer-switch-off {
    background: rgb(212, 212, 212);
    transition: background 0.4s;
}

.np-outer-switch-on {
    background-color: rgb(3, 9, 20);
    transition: background 0.4s;
}

.np-inner-switch {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

.np-inner-switch-left {
    top: 2px;
    left: 2px;
    transition: left 0.4s;
}

.np-inner-switch-right {
    top: 2px;
    left: 38px;
    transition: left 0.4s;
}

.loading-indicator {
    opacity: 0;
    display: flex;
    padding: 40px 0 0 0;
    align-items: flex-start;
    justify-content: center;
}

.loading-indicator.htmx-request {
    opacity: 1;
    transition: opacity 2s;
}

.pull-to-refresh-indicator .ptr--icon {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 50px;
    height: 50px;
    z-index: 2000;
}

.thing.t1.collapsed>.comment-body .body,
.thing.t1.collapsed>.replies {
    display: none;
}


/* .plyr--video */

.thing.t3 .plyr--video {
    border-radius: var(--border-radius);
}


/* subscription-form */

.form-wrapper {
    border-radius: calc(var(--border-radius) * 2);
    overflow: hidden;
}

.subscription-form {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
}

.input-field {
    display: flex;
    gap: 5px;
}

.input-field.fill {
    width: 100%;
}

.input-field input {
    width: 100%;
    background-color: transparent;
    border: 0;
}