.tint-fg-up-0 { color: rgb(33, 39, 50); }
.tint-bg-up-0 { background-color: rgb(33, 39, 50); }
.tint-fg-up-1 { color: rgb(36, 42, 53); }
.tint-bg-up-1 { background-color: rgb(36, 42, 53); }
.tint-fg-up-2 { color: rgb(39, 45, 56); }
.tint-bg-up-2 { background-color: rgb(39, 45, 56); }
.tint-fg-up-3 { color: rgb(42, 48, 59); }
.tint-bg-up-3 { background-color: rgb(42, 48, 59); }
.tint-fg-up-4 { color: rgb(45, 51, 62); }
.tint-bg-up-4 { background-color: rgb(45, 51, 62); }
.tint-fg-up-5 { color: rgb(48, 54, 65); }
.tint-bg-up-5 { background-color: rgb(48, 54, 65); }
.tint-fg-up-6 { color: rgb(51, 57, 68); }
.tint-bg-up-6 { background-color: rgb(51, 57, 68); }
.tint-fg-up-7 { color: rgb(54, 60, 71); }
.tint-bg-up-7 { background-color: rgb(54, 60, 71); }
.tint-fg-up-8 { color: rgb(57, 63, 74); }
.tint-bg-up-8 { background-color: rgb(57, 63, 74); }
.tint-fg-up-9 { color: rgb(60, 66, 77); }
.tint-bg-up-9 { background-color: rgb(60, 66, 77); }
.tint-fg-up-10 { color: rgb(63, 69, 80); }
.tint-bg-up-10 { background-color: rgb(63, 69, 80); }
.tint-fg-up-11 { color: rgb(66, 72, 83); }
.tint-bg-up-11 { background-color: rgb(66, 72, 83); }
.tint-fg-up-12 { color: rgb(69, 75, 86); }
.tint-bg-up-12 { background-color: rgb(69, 75, 86); }
.tint-fg-up-13 { color: rgb(72, 78, 89); }
.tint-bg-up-13 { background-color: rgb(72, 78, 89); }
.tint-fg-up-14 { color: rgb(75, 81, 92); }
.tint-bg-up-14 { background-color: rgb(75, 81, 92); }
.tint-fg-up-15 { color: rgb(78, 84, 95); }
.tint-bg-up-15 { background-color: rgb(78, 84, 95); }
.tint-fg-up-16 { color: rgb(81, 87, 98); }
.tint-bg-up-16 { background-color: rgb(81, 87, 98); }
.tint-fg-up-17 { color: rgb(84, 90, 101); }
.tint-bg-up-17 { background-color: rgb(84, 90, 101); }
.tint-fg-up-18 { color: rgb(87, 93, 104); }
.tint-bg-up-18 { background-color: rgb(87, 93, 104); }
.tint-fg-up-19 { color: rgb(90, 96, 107); }
.tint-bg-up-19 { background-color: rgb(90, 96, 107); }
.tint-fg-up-20 { color: rgb(93, 99, 110); }
.tint-bg-up-20 { background-color: rgb(93, 99, 110); }
.tint-fg-up-21 { color: rgb(96, 102, 113); }
.tint-bg-up-21 { background-color: rgb(96, 102, 113); }
.tint-fg-up-22 { color: rgb(99, 105, 116); }
.tint-bg-up-22 { background-color: rgb(99, 105, 116); }
.tint-fg-up-23 { color: rgb(102, 108, 119); }
.tint-bg-up-23 { background-color: rgb(102, 108, 119); }
.tint-fg-up-24 { color: rgb(105, 111, 122); }
.tint-bg-up-24 { background-color: rgb(105, 111, 122); }
.tint-fg-up-25 { color: rgb(108, 114, 125); }
.tint-bg-up-25 { background-color: rgb(108, 114, 125); }
.tint-fg-up-26 { color: rgb(111, 117, 128); }
.tint-bg-up-26 { background-color: rgb(111, 117, 128); }
.tint-fg-up-27 { color: rgb(114, 120, 131); }
.tint-bg-up-27 { background-color: rgb(114, 120, 131); }
.tint-fg-up-28 { color: rgb(117, 123, 134); }
.tint-bg-up-28 { background-color: rgb(117, 123, 134); }
.tint-fg-up-29 { color: rgb(120, 126, 137); }
.tint-bg-up-29 { background-color: rgb(120, 126, 137); }
.tint-fg-up-30 { color: rgb(123, 129, 140); }
.tint-bg-up-30 { background-color: rgb(123, 129, 140); }
.tint-fg-up-31 { color: rgb(126, 132, 143); }
.tint-bg-up-31 { background-color: rgb(126, 132, 143); }
.tint-fg-up-32 { color: rgb(129, 135, 146); }
.tint-bg-up-32 { background-color: rgb(129, 135, 146); }
.tint-fg-up-33 { color: rgb(132, 138, 149); }
.tint-bg-up-33 { background-color: rgb(132, 138, 149); }
.tint-fg-up-34 { color: rgb(135, 141, 152); }
.tint-bg-up-34 { background-color: rgb(135, 141, 152); }
.tint-fg-up-35 { color: rgb(138, 144, 155); }
.tint-bg-up-35 { background-color: rgb(138, 144, 155); }
.tint-fg-up-36 { color: rgb(141, 147, 158); }
.tint-bg-up-36 { background-color: rgb(141, 147, 158); }
.tint-fg-up-37 { color: rgb(144, 150, 161); }
.tint-bg-up-37 { background-color: rgb(144, 150, 161); }
.tint-fg-up-38 { color: rgb(147, 153, 164); }
.tint-bg-up-38 { background-color: rgb(147, 153, 164); }
.tint-fg-up-39 { color: rgb(150, 156, 167); }
.tint-bg-up-39 { background-color: rgb(150, 156, 167); }
.tint-fg-up-40 { color: rgb(153, 159, 170); }
.tint-bg-up-40 { background-color: rgb(153, 159, 170); }
.tint-fg-up-41 { color: rgb(156, 162, 173); }
.tint-bg-up-41 { background-color: rgb(156, 162, 173); }
.tint-fg-up-42 { color: rgb(159, 165, 176); }
.tint-bg-up-42 { background-color: rgb(159, 165, 176); }
.tint-fg-up-43 { color: rgb(162, 168, 179); }
.tint-bg-up-43 { background-color: rgb(162, 168, 179); }
.tint-fg-up-44 { color: rgb(165, 171, 182); }
.tint-bg-up-44 { background-color: rgb(165, 171, 182); }
.tint-fg-up-45 { color: rgb(168, 174, 185); }
.tint-bg-up-45 { background-color: rgb(168, 174, 185); }
.tint-fg-up-46 { color: rgb(171, 177, 188); }
.tint-bg-up-46 { background-color: rgb(171, 177, 188); }
.tint-fg-up-47 { color: rgb(174, 180, 191); }
.tint-bg-up-47 { background-color: rgb(174, 180, 191); }
.tint-fg-up-48 { color: rgb(177, 183, 194); }
.tint-bg-up-48 { background-color: rgb(177, 183, 194); }
.tint-fg-up-49 { color: rgb(180, 186, 197); }
.tint-bg-up-49 { background-color: rgb(180, 186, 197); }
.tint-fg-up-50 { color: rgb(183, 189, 200); }
.tint-bg-up-50 { background-color: rgb(183, 189, 200); }
.tint-fg-up-51 { color: rgb(186, 192, 203); }
.tint-bg-up-51 { background-color: rgb(186, 192, 203); }
.tint-fg-up-52 { color: rgb(189, 195, 206); }
.tint-bg-up-52 { background-color: rgb(189, 195, 206); }
.tint-fg-up-53 { color: rgb(192, 198, 209); }
.tint-bg-up-53 { background-color: rgb(192, 198, 209); }
.tint-fg-up-54 { color: rgb(195, 201, 212); }
.tint-bg-up-54 { background-color: rgb(195, 201, 212); }
.tint-fg-up-55 { color: rgb(198, 204, 215); }
.tint-bg-up-55 { background-color: rgb(198, 204, 215); }
.tint-fg-up-56 { color: rgb(201, 207, 218); }
.tint-bg-up-56 { background-color: rgb(201, 207, 218); }
.tint-fg-up-57 { color: rgb(204, 210, 221); }
.tint-bg-up-57 { background-color: rgb(204, 210, 221); }
.tint-fg-up-58 { color: rgb(207, 213, 224); }
.tint-bg-up-58 { background-color: rgb(207, 213, 224); }
.tint-fg-up-59 { color: rgb(210, 216, 227); }
.tint-bg-up-59 { background-color: rgb(210, 216, 227); }
.tint-fg-up-60 { color: rgb(213, 219, 230); }
.tint-bg-up-60 { background-color: rgb(213, 219, 230); }
.tint-fg-up-61 { color: rgb(216, 222, 233); }
.tint-bg-up-61 { background-color: rgb(216, 222, 233); }
.tint-fg-up-62 { color: rgb(219, 225, 236); }
.tint-bg-up-62 { background-color: rgb(219, 225, 236); }
.tint-fg-up-63 { color: rgb(222, 228, 239); }
.tint-bg-up-63 { background-color: rgb(222, 228, 239); }
.tint-fg-up-64 { color: rgb(225, 231, 242); }
.tint-bg-up-64 { background-color: rgb(225, 231, 242); }
.tint-fg-up-65 { color: rgb(228, 234, 245); }
.tint-bg-up-65 { background-color: rgb(228, 234, 245); }
.tint-fg-up-66 { color: rgb(231, 237, 248); }
.tint-bg-up-66 { background-color: rgb(231, 237, 248); }
.tint-fg-up-67 { color: rgb(234, 240, 251); }
.tint-bg-up-67 { background-color: rgb(234, 240, 251); }
.tint-fg-up-68 { color: rgb(237, 243, 254); }
.tint-bg-up-68 { background-color: rgb(237, 243, 254); }
.tint-fg-up-69 { color: rgb(240, 246, 257); }
.tint-bg-up-69 { background-color: rgb(240, 246, 257); }
.tint-fg-up-70 { color: rgb(243, 249, 260); }
.tint-bg-up-70 { background-color: rgb(243, 249, 260); }
.tint-fg-up-71 { color: rgb(246, 252, 263); }
.tint-bg-up-71 { background-color: rgb(246, 252, 263); }
.tint-fg-up-72 { color: rgb(249, 255, 266); }
.tint-bg-up-72 { background-color: rgb(249, 255, 266); }
.tint-fg-up-73 { color: rgb(252, 258, 269); }
.tint-bg-up-73 { background-color: rgb(252, 258, 269); }
.tint-fg-up-74 { color: rgb(255, 261, 272); }
.tint-bg-up-74 { background-color: rgb(255, 261, 272); }
.tint-fg-up-75 { color: rgb(258, 264, 275); }
.tint-bg-up-75 { background-color: rgb(258, 264, 275); }
.tint-fg-up-76 { color: rgb(261, 267, 278); }
.tint-bg-up-76 { background-color: rgb(261, 267, 278); }
.tint-fg-up-77 { color: rgb(264, 270, 281); }
.tint-bg-up-77 { background-color: rgb(264, 270, 281); }
.tint-fg-up-78 { color: rgb(267, 273, 284); }
.tint-bg-up-78 { background-color: rgb(267, 273, 284); }
.tint-fg-up-79 { color: rgb(270, 276, 287); }
.tint-bg-up-79 { background-color: rgb(270, 276, 287); }
.tint-fg-up-80 { color: rgb(273, 279, 290); }
.tint-bg-up-80 { background-color: rgb(273, 279, 290); }
.tint-fg-up-81 { color: rgb(276, 282, 293); }
.tint-bg-up-81 { background-color: rgb(276, 282, 293); }
.tint-fg-up-82 { color: rgb(279, 285, 296); }
.tint-bg-up-82 { background-color: rgb(279, 285, 296); }
.tint-fg-up-83 { color: rgb(282, 288, 299); }
.tint-bg-up-83 { background-color: rgb(282, 288, 299); }
.tint-fg-up-84 { color: rgb(285, 291, 302); }
.tint-bg-up-84 { background-color: rgb(285, 291, 302); }
.tint-fg-up-85 { color: rgb(288, 294, 305); }
.tint-bg-up-85 { background-color: rgb(288, 294, 305); }
.tint-fg-up-86 { color: rgb(291, 297, 308); }
.tint-bg-up-86 { background-color: rgb(291, 297, 308); }
.tint-fg-up-87 { color: rgb(294, 300, 311); }
.tint-bg-up-87 { background-color: rgb(294, 300, 311); }
.tint-fg-up-88 { color: rgb(297, 303, 314); }
.tint-bg-up-88 { background-color: rgb(297, 303, 314); }
.tint-fg-up-89 { color: rgb(300, 306, 317); }
.tint-bg-up-89 { background-color: rgb(300, 306, 317); }
.tint-fg-up-90 { color: rgb(303, 309, 320); }
.tint-bg-up-90 { background-color: rgb(303, 309, 320); }
.tint-fg-up-91 { color: rgb(306, 312, 323); }
.tint-bg-up-91 { background-color: rgb(306, 312, 323); }
.tint-fg-up-92 { color: rgb(309, 315, 326); }
.tint-bg-up-92 { background-color: rgb(309, 315, 326); }
.tint-fg-up-93 { color: rgb(312, 318, 329); }
.tint-bg-up-93 { background-color: rgb(312, 318, 329); }
.tint-fg-up-94 { color: rgb(315, 321, 332); }
.tint-bg-up-94 { background-color: rgb(315, 321, 332); }
.tint-fg-up-95 { color: rgb(318, 324, 335); }
.tint-bg-up-95 { background-color: rgb(318, 324, 335); }
.tint-fg-up-96 { color: rgb(321, 327, 338); }
.tint-bg-up-96 { background-color: rgb(321, 327, 338); }
.tint-fg-up-97 { color: rgb(324, 330, 341); }
.tint-bg-up-97 { background-color: rgb(324, 330, 341); }
.tint-fg-up-98 { color: rgb(327, 333, 344); }
.tint-bg-up-98 { background-color: rgb(327, 333, 344); }
.tint-fg-up-99 { color: rgb(330, 336, 347); }
.tint-bg-up-99 { background-color: rgb(330, 336, 347); }
.tint-fg-up-100 { color: rgb(333, 339, 350); }
.tint-bg-up-100 { background-color: rgb(333, 339, 350); }
.tint-fg-down-0 { color: rgb(33, 39, 50); }
.tint-bg-down-0 { background-color: rgb(33, 39, 50); }
.tint-fg-down-1 { color: rgb(30, 36, 47); }
.tint-bg-down-1 { background-color: rgb(30, 36, 47); }
.tint-fg-down-2 { color: rgb(27, 33, 44); }
.tint-bg-down-2 { background-color: rgb(27, 33, 44); }
.tint-fg-down-3 { color: rgb(24, 30, 41); }
.tint-bg-down-3 { background-color: rgb(24, 30, 41); }
.tint-fg-down-4 { color: rgb(21, 27, 38); }
.tint-bg-down-4 { background-color: rgb(21, 27, 38); }
.tint-fg-down-5 { color: rgb(18, 24, 35); }
.tint-bg-down-5 { background-color: rgb(18, 24, 35); }
.tint-fg-down-6 { color: rgb(15, 21, 32); }
.tint-bg-down-6 { background-color: rgb(15, 21, 32); }
.tint-fg-down-7 { color: rgb(12, 18, 29); }
.tint-bg-down-7 { background-color: rgb(12, 18, 29); }
.tint-fg-down-8 { color: rgb(9, 15, 26); }
.tint-bg-down-8 { background-color: rgb(9, 15, 26); }
.tint-fg-down-9 { color: rgb(6, 12, 23); }
.tint-bg-down-9 { background-color: rgb(6, 12, 23); }
.tint-fg-down-10 { color: rgb(3, 9, 20); }
.tint-bg-down-10 { background-color: rgb(3, 9, 20); }
.tint-fg-down-11 { color: rgb(0, 6, 17); }
.tint-bg-down-11 { background-color: rgb(0, 6, 17); }
.tint-fg-down-12 { color: rgb(-3, 3, 14); }
.tint-bg-down-12 { background-color: rgb(-3, 3, 14); }
.tint-fg-down-13 { color: rgb(-6, 0, 11); }
.tint-bg-down-13 { background-color: rgb(-6, 0, 11); }
.tint-fg-down-14 { color: rgb(-9, -3, 8); }
.tint-bg-down-14 { background-color: rgb(-9, -3, 8); }
.tint-fg-down-15 { color: rgb(-12, -6, 5); }
.tint-bg-down-15 { background-color: rgb(-12, -6, 5); }
.tint-fg-down-16 { color: rgb(-15, -9, 2); }
.tint-bg-down-16 { background-color: rgb(-15, -9, 2); }
.tint-fg-down-17 { color: rgb(-18, -12, -1); }
.tint-bg-down-17 { background-color: rgb(-18, -12, -1); }
.tint-fg-down-18 { color: rgb(-21, -15, -4); }
.tint-bg-down-18 { background-color: rgb(-21, -15, -4); }
.tint-fg-down-19 { color: rgb(-24, -18, -7); }
.tint-bg-down-19 { background-color: rgb(-24, -18, -7); }
.tint-fg-down-20 { color: rgb(-27, -21, -10); }
.tint-bg-down-20 { background-color: rgb(-27, -21, -10); }
.tint-fg-down-21 { color: rgb(-30, -24, -13); }
.tint-bg-down-21 { background-color: rgb(-30, -24, -13); }
.tint-fg-down-22 { color: rgb(-33, -27, -16); }
.tint-bg-down-22 { background-color: rgb(-33, -27, -16); }
.tint-fg-down-23 { color: rgb(-36, -30, -19); }
.tint-bg-down-23 { background-color: rgb(-36, -30, -19); }
.tint-fg-down-24 { color: rgb(-39, -33, -22); }
.tint-bg-down-24 { background-color: rgb(-39, -33, -22); }
.tint-fg-down-25 { color: rgb(-42, -36, -25); }
.tint-bg-down-25 { background-color: rgb(-42, -36, -25); }
.tint-fg-down-26 { color: rgb(-45, -39, -28); }
.tint-bg-down-26 { background-color: rgb(-45, -39, -28); }
.tint-fg-down-27 { color: rgb(-48, -42, -31); }
.tint-bg-down-27 { background-color: rgb(-48, -42, -31); }
.tint-fg-down-28 { color: rgb(-51, -45, -34); }
.tint-bg-down-28 { background-color: rgb(-51, -45, -34); }
.tint-fg-down-29 { color: rgb(-54, -48, -37); }
.tint-bg-down-29 { background-color: rgb(-54, -48, -37); }
.tint-fg-down-30 { color: rgb(-57, -51, -40); }
.tint-bg-down-30 { background-color: rgb(-57, -51, -40); }
.tint-fg-down-31 { color: rgb(-60, -54, -43); }
.tint-bg-down-31 { background-color: rgb(-60, -54, -43); }
.tint-fg-down-32 { color: rgb(-63, -57, -46); }
.tint-bg-down-32 { background-color: rgb(-63, -57, -46); }
.tint-fg-down-33 { color: rgb(-66, -60, -49); }
.tint-bg-down-33 { background-color: rgb(-66, -60, -49); }
.tint-fg-down-34 { color: rgb(-69, -63, -52); }
.tint-bg-down-34 { background-color: rgb(-69, -63, -52); }
.tint-fg-down-35 { color: rgb(-72, -66, -55); }
.tint-bg-down-35 { background-color: rgb(-72, -66, -55); }
.tint-fg-down-36 { color: rgb(-75, -69, -58); }
.tint-bg-down-36 { background-color: rgb(-75, -69, -58); }
.tint-fg-down-37 { color: rgb(-78, -72, -61); }
.tint-bg-down-37 { background-color: rgb(-78, -72, -61); }
.tint-fg-down-38 { color: rgb(-81, -75, -64); }
.tint-bg-down-38 { background-color: rgb(-81, -75, -64); }
.tint-fg-down-39 { color: rgb(-84, -78, -67); }
.tint-bg-down-39 { background-color: rgb(-84, -78, -67); }
.tint-fg-down-40 { color: rgb(-87, -81, -70); }
.tint-bg-down-40 { background-color: rgb(-87, -81, -70); }
.tint-fg-down-41 { color: rgb(-90, -84, -73); }
.tint-bg-down-41 { background-color: rgb(-90, -84, -73); }
.tint-fg-down-42 { color: rgb(-93, -87, -76); }
.tint-bg-down-42 { background-color: rgb(-93, -87, -76); }
.tint-fg-down-43 { color: rgb(-96, -90, -79); }
.tint-bg-down-43 { background-color: rgb(-96, -90, -79); }
.tint-fg-down-44 { color: rgb(-99, -93, -82); }
.tint-bg-down-44 { background-color: rgb(-99, -93, -82); }
.tint-fg-down-45 { color: rgb(-102, -96, -85); }
.tint-bg-down-45 { background-color: rgb(-102, -96, -85); }
.tint-fg-down-46 { color: rgb(-105, -99, -88); }
.tint-bg-down-46 { background-color: rgb(-105, -99, -88); }
.tint-fg-down-47 { color: rgb(-108, -102, -91); }
.tint-bg-down-47 { background-color: rgb(-108, -102, -91); }
.tint-fg-down-48 { color: rgb(-111, -105, -94); }
.tint-bg-down-48 { background-color: rgb(-111, -105, -94); }
.tint-fg-down-49 { color: rgb(-114, -108, -97); }
.tint-bg-down-49 { background-color: rgb(-114, -108, -97); }
.tint-fg-down-50 { color: rgb(-117, -111, -100); }
.tint-bg-down-50 { background-color: rgb(-117, -111, -100); }
.tint-fg-down-51 { color: rgb(-120, -114, -103); }
.tint-bg-down-51 { background-color: rgb(-120, -114, -103); }
.tint-fg-down-52 { color: rgb(-123, -117, -106); }
.tint-bg-down-52 { background-color: rgb(-123, -117, -106); }
.tint-fg-down-53 { color: rgb(-126, -120, -109); }
.tint-bg-down-53 { background-color: rgb(-126, -120, -109); }
.tint-fg-down-54 { color: rgb(-129, -123, -112); }
.tint-bg-down-54 { background-color: rgb(-129, -123, -112); }
.tint-fg-down-55 { color: rgb(-132, -126, -115); }
.tint-bg-down-55 { background-color: rgb(-132, -126, -115); }
.tint-fg-down-56 { color: rgb(-135, -129, -118); }
.tint-bg-down-56 { background-color: rgb(-135, -129, -118); }
.tint-fg-down-57 { color: rgb(-138, -132, -121); }
.tint-bg-down-57 { background-color: rgb(-138, -132, -121); }
.tint-fg-down-58 { color: rgb(-141, -135, -124); }
.tint-bg-down-58 { background-color: rgb(-141, -135, -124); }
.tint-fg-down-59 { color: rgb(-144, -138, -127); }
.tint-bg-down-59 { background-color: rgb(-144, -138, -127); }
.tint-fg-down-60 { color: rgb(-147, -141, -130); }
.tint-bg-down-60 { background-color: rgb(-147, -141, -130); }
.tint-fg-down-61 { color: rgb(-150, -144, -133); }
.tint-bg-down-61 { background-color: rgb(-150, -144, -133); }
.tint-fg-down-62 { color: rgb(-153, -147, -136); }
.tint-bg-down-62 { background-color: rgb(-153, -147, -136); }
.tint-fg-down-63 { color: rgb(-156, -150, -139); }
.tint-bg-down-63 { background-color: rgb(-156, -150, -139); }
.tint-fg-down-64 { color: rgb(-159, -153, -142); }
.tint-bg-down-64 { background-color: rgb(-159, -153, -142); }
.tint-fg-down-65 { color: rgb(-162, -156, -145); }
.tint-bg-down-65 { background-color: rgb(-162, -156, -145); }
.tint-fg-down-66 { color: rgb(-165, -159, -148); }
.tint-bg-down-66 { background-color: rgb(-165, -159, -148); }
.tint-fg-down-67 { color: rgb(-168, -162, -151); }
.tint-bg-down-67 { background-color: rgb(-168, -162, -151); }
.tint-fg-down-68 { color: rgb(-171, -165, -154); }
.tint-bg-down-68 { background-color: rgb(-171, -165, -154); }
.tint-fg-down-69 { color: rgb(-174, -168, -157); }
.tint-bg-down-69 { background-color: rgb(-174, -168, -157); }
.tint-fg-down-70 { color: rgb(-177, -171, -160); }
.tint-bg-down-70 { background-color: rgb(-177, -171, -160); }
.tint-fg-down-71 { color: rgb(-180, -174, -163); }
.tint-bg-down-71 { background-color: rgb(-180, -174, -163); }
.tint-fg-down-72 { color: rgb(-183, -177, -166); }
.tint-bg-down-72 { background-color: rgb(-183, -177, -166); }
.tint-fg-down-73 { color: rgb(-186, -180, -169); }
.tint-bg-down-73 { background-color: rgb(-186, -180, -169); }
.tint-fg-down-74 { color: rgb(-189, -183, -172); }
.tint-bg-down-74 { background-color: rgb(-189, -183, -172); }
.tint-fg-down-75 { color: rgb(-192, -186, -175); }
.tint-bg-down-75 { background-color: rgb(-192, -186, -175); }
.tint-fg-down-76 { color: rgb(-195, -189, -178); }
.tint-bg-down-76 { background-color: rgb(-195, -189, -178); }
.tint-fg-down-77 { color: rgb(-198, -192, -181); }
.tint-bg-down-77 { background-color: rgb(-198, -192, -181); }
.tint-fg-down-78 { color: rgb(-201, -195, -184); }
.tint-bg-down-78 { background-color: rgb(-201, -195, -184); }
.tint-fg-down-79 { color: rgb(-204, -198, -187); }
.tint-bg-down-79 { background-color: rgb(-204, -198, -187); }
.tint-fg-down-80 { color: rgb(-207, -201, -190); }
.tint-bg-down-80 { background-color: rgb(-207, -201, -190); }
.tint-fg-down-81 { color: rgb(-210, -204, -193); }
.tint-bg-down-81 { background-color: rgb(-210, -204, -193); }
.tint-fg-down-82 { color: rgb(-213, -207, -196); }
.tint-bg-down-82 { background-color: rgb(-213, -207, -196); }
.tint-fg-down-83 { color: rgb(-216, -210, -199); }
.tint-bg-down-83 { background-color: rgb(-216, -210, -199); }
.tint-fg-down-84 { color: rgb(-219, -213, -202); }
.tint-bg-down-84 { background-color: rgb(-219, -213, -202); }
.tint-fg-down-85 { color: rgb(-222, -216, -205); }
.tint-bg-down-85 { background-color: rgb(-222, -216, -205); }
.tint-fg-down-86 { color: rgb(-225, -219, -208); }
.tint-bg-down-86 { background-color: rgb(-225, -219, -208); }
.tint-fg-down-87 { color: rgb(-228, -222, -211); }
.tint-bg-down-87 { background-color: rgb(-228, -222, -211); }
.tint-fg-down-88 { color: rgb(-231, -225, -214); }
.tint-bg-down-88 { background-color: rgb(-231, -225, -214); }
.tint-fg-down-89 { color: rgb(-234, -228, -217); }
.tint-bg-down-89 { background-color: rgb(-234, -228, -217); }
.tint-fg-down-90 { color: rgb(-237, -231, -220); }
.tint-bg-down-90 { background-color: rgb(-237, -231, -220); }
.tint-fg-down-91 { color: rgb(-240, -234, -223); }
.tint-bg-down-91 { background-color: rgb(-240, -234, -223); }
.tint-fg-down-92 { color: rgb(-243, -237, -226); }
.tint-bg-down-92 { background-color: rgb(-243, -237, -226); }
.tint-fg-down-93 { color: rgb(-246, -240, -229); }
.tint-bg-down-93 { background-color: rgb(-246, -240, -229); }
.tint-fg-down-94 { color: rgb(-249, -243, -232); }
.tint-bg-down-94 { background-color: rgb(-249, -243, -232); }
.tint-fg-down-95 { color: rgb(-252, -246, -235); }
.tint-bg-down-95 { background-color: rgb(-252, -246, -235); }
.tint-fg-down-96 { color: rgb(-255, -249, -238); }
.tint-bg-down-96 { background-color: rgb(-255, -249, -238); }
.tint-fg-down-97 { color: rgb(-258, -252, -241); }
.tint-bg-down-97 { background-color: rgb(-258, -252, -241); }
.tint-fg-down-98 { color: rgb(-261, -255, -244); }
.tint-bg-down-98 { background-color: rgb(-261, -255, -244); }
.tint-fg-down-99 { color: rgb(-264, -258, -247); }
.tint-bg-down-99 { background-color: rgb(-264, -258, -247); }
.tint-fg-down-100 { color: rgb(-267, -261, -250); }
.tint-bg-down-100 { background-color: rgb(-267, -261, -250); }
