.tint-fg-up-0 { color: rgb(52, 6, 48); }
.tint-bg-up-0 { background-color: rgb(52, 6, 48); }
.tint-fg-up-1 { color: rgb(55, 9, 51); }
.tint-bg-up-1 { background-color: rgb(55, 9, 51); }
.tint-fg-up-2 { color: rgb(58, 12, 54); }
.tint-bg-up-2 { background-color: rgb(58, 12, 54); }
.tint-fg-up-3 { color: rgb(61, 15, 57); }
.tint-bg-up-3 { background-color: rgb(61, 15, 57); }
.tint-fg-up-4 { color: rgb(64, 18, 60); }
.tint-bg-up-4 { background-color: rgb(64, 18, 60); }
.tint-fg-up-5 { color: rgb(67, 21, 63); }
.tint-bg-up-5 { background-color: rgb(67, 21, 63); }
.tint-fg-up-6 { color: rgb(70, 24, 66); }
.tint-bg-up-6 { background-color: rgb(70, 24, 66); }
.tint-fg-up-7 { color: rgb(73, 27, 69); }
.tint-bg-up-7 { background-color: rgb(73, 27, 69); }
.tint-fg-up-8 { color: rgb(76, 30, 72); }
.tint-bg-up-8 { background-color: rgb(76, 30, 72); }
.tint-fg-up-9 { color: rgb(79, 33, 75); }
.tint-bg-up-9 { background-color: rgb(79, 33, 75); }
.tint-fg-up-10 { color: rgb(82, 36, 78); }
.tint-bg-up-10 { background-color: rgb(82, 36, 78); }
.tint-fg-up-11 { color: rgb(85, 39, 81); }
.tint-bg-up-11 { background-color: rgb(85, 39, 81); }
.tint-fg-up-12 { color: rgb(88, 42, 84); }
.tint-bg-up-12 { background-color: rgb(88, 42, 84); }
.tint-fg-up-13 { color: rgb(91, 45, 87); }
.tint-bg-up-13 { background-color: rgb(91, 45, 87); }
.tint-fg-up-14 { color: rgb(94, 48, 90); }
.tint-bg-up-14 { background-color: rgb(94, 48, 90); }
.tint-fg-up-15 { color: rgb(97, 51, 93); }
.tint-bg-up-15 { background-color: rgb(97, 51, 93); }
.tint-fg-up-16 { color: rgb(100, 54, 96); }
.tint-bg-up-16 { background-color: rgb(100, 54, 96); }
.tint-fg-up-17 { color: rgb(103, 57, 99); }
.tint-bg-up-17 { background-color: rgb(103, 57, 99); }
.tint-fg-up-18 { color: rgb(106, 60, 102); }
.tint-bg-up-18 { background-color: rgb(106, 60, 102); }
.tint-fg-up-19 { color: rgb(109, 63, 105); }
.tint-bg-up-19 { background-color: rgb(109, 63, 105); }
.tint-fg-up-20 { color: rgb(112, 66, 108); }
.tint-bg-up-20 { background-color: rgb(112, 66, 108); }
.tint-fg-up-21 { color: rgb(115, 69, 111); }
.tint-bg-up-21 { background-color: rgb(115, 69, 111); }
.tint-fg-up-22 { color: rgb(118, 72, 114); }
.tint-bg-up-22 { background-color: rgb(118, 72, 114); }
.tint-fg-up-23 { color: rgb(121, 75, 117); }
.tint-bg-up-23 { background-color: rgb(121, 75, 117); }
.tint-fg-up-24 { color: rgb(124, 78, 120); }
.tint-bg-up-24 { background-color: rgb(124, 78, 120); }
.tint-fg-up-25 { color: rgb(127, 81, 123); }
.tint-bg-up-25 { background-color: rgb(127, 81, 123); }
.tint-fg-up-26 { color: rgb(130, 84, 126); }
.tint-bg-up-26 { background-color: rgb(130, 84, 126); }
.tint-fg-up-27 { color: rgb(133, 87, 129); }
.tint-bg-up-27 { background-color: rgb(133, 87, 129); }
.tint-fg-up-28 { color: rgb(136, 90, 132); }
.tint-bg-up-28 { background-color: rgb(136, 90, 132); }
.tint-fg-up-29 { color: rgb(139, 93, 135); }
.tint-bg-up-29 { background-color: rgb(139, 93, 135); }
.tint-fg-up-30 { color: rgb(142, 96, 138); }
.tint-bg-up-30 { background-color: rgb(142, 96, 138); }
.tint-fg-up-31 { color: rgb(145, 99, 141); }
.tint-bg-up-31 { background-color: rgb(145, 99, 141); }
.tint-fg-up-32 { color: rgb(148, 102, 144); }
.tint-bg-up-32 { background-color: rgb(148, 102, 144); }
.tint-fg-up-33 { color: rgb(151, 105, 147); }
.tint-bg-up-33 { background-color: rgb(151, 105, 147); }
.tint-fg-up-34 { color: rgb(154, 108, 150); }
.tint-bg-up-34 { background-color: rgb(154, 108, 150); }
.tint-fg-up-35 { color: rgb(157, 111, 153); }
.tint-bg-up-35 { background-color: rgb(157, 111, 153); }
.tint-fg-up-36 { color: rgb(160, 114, 156); }
.tint-bg-up-36 { background-color: rgb(160, 114, 156); }
.tint-fg-up-37 { color: rgb(163, 117, 159); }
.tint-bg-up-37 { background-color: rgb(163, 117, 159); }
.tint-fg-up-38 { color: rgb(166, 120, 162); }
.tint-bg-up-38 { background-color: rgb(166, 120, 162); }
.tint-fg-up-39 { color: rgb(169, 123, 165); }
.tint-bg-up-39 { background-color: rgb(169, 123, 165); }
.tint-fg-up-40 { color: rgb(172, 126, 168); }
.tint-bg-up-40 { background-color: rgb(172, 126, 168); }
.tint-fg-up-41 { color: rgb(175, 129, 171); }
.tint-bg-up-41 { background-color: rgb(175, 129, 171); }
.tint-fg-up-42 { color: rgb(178, 132, 174); }
.tint-bg-up-42 { background-color: rgb(178, 132, 174); }
.tint-fg-up-43 { color: rgb(181, 135, 177); }
.tint-bg-up-43 { background-color: rgb(181, 135, 177); }
.tint-fg-up-44 { color: rgb(184, 138, 180); }
.tint-bg-up-44 { background-color: rgb(184, 138, 180); }
.tint-fg-up-45 { color: rgb(187, 141, 183); }
.tint-bg-up-45 { background-color: rgb(187, 141, 183); }
.tint-fg-up-46 { color: rgb(190, 144, 186); }
.tint-bg-up-46 { background-color: rgb(190, 144, 186); }
.tint-fg-up-47 { color: rgb(193, 147, 189); }
.tint-bg-up-47 { background-color: rgb(193, 147, 189); }
.tint-fg-up-48 { color: rgb(196, 150, 192); }
.tint-bg-up-48 { background-color: rgb(196, 150, 192); }
.tint-fg-up-49 { color: rgb(199, 153, 195); }
.tint-bg-up-49 { background-color: rgb(199, 153, 195); }
.tint-fg-up-50 { color: rgb(202, 156, 198); }
.tint-bg-up-50 { background-color: rgb(202, 156, 198); }
.tint-fg-up-51 { color: rgb(205, 159, 201); }
.tint-bg-up-51 { background-color: rgb(205, 159, 201); }
.tint-fg-up-52 { color: rgb(208, 162, 204); }
.tint-bg-up-52 { background-color: rgb(208, 162, 204); }
.tint-fg-up-53 { color: rgb(211, 165, 207); }
.tint-bg-up-53 { background-color: rgb(211, 165, 207); }
.tint-fg-up-54 { color: rgb(214, 168, 210); }
.tint-bg-up-54 { background-color: rgb(214, 168, 210); }
.tint-fg-up-55 { color: rgb(217, 171, 213); }
.tint-bg-up-55 { background-color: rgb(217, 171, 213); }
.tint-fg-up-56 { color: rgb(220, 174, 216); }
.tint-bg-up-56 { background-color: rgb(220, 174, 216); }
.tint-fg-up-57 { color: rgb(223, 177, 219); }
.tint-bg-up-57 { background-color: rgb(223, 177, 219); }
.tint-fg-up-58 { color: rgb(226, 180, 222); }
.tint-bg-up-58 { background-color: rgb(226, 180, 222); }
.tint-fg-up-59 { color: rgb(229, 183, 225); }
.tint-bg-up-59 { background-color: rgb(229, 183, 225); }
.tint-fg-up-60 { color: rgb(232, 186, 228); }
.tint-bg-up-60 { background-color: rgb(232, 186, 228); }
.tint-fg-up-61 { color: rgb(235, 189, 231); }
.tint-bg-up-61 { background-color: rgb(235, 189, 231); }
.tint-fg-up-62 { color: rgb(238, 192, 234); }
.tint-bg-up-62 { background-color: rgb(238, 192, 234); }
.tint-fg-up-63 { color: rgb(241, 195, 237); }
.tint-bg-up-63 { background-color: rgb(241, 195, 237); }
.tint-fg-up-64 { color: rgb(244, 198, 240); }
.tint-bg-up-64 { background-color: rgb(244, 198, 240); }
.tint-fg-up-65 { color: rgb(247, 201, 243); }
.tint-bg-up-65 { background-color: rgb(247, 201, 243); }
.tint-fg-up-66 { color: rgb(250, 204, 246); }
.tint-bg-up-66 { background-color: rgb(250, 204, 246); }
.tint-fg-up-67 { color: rgb(253, 207, 249); }
.tint-bg-up-67 { background-color: rgb(253, 207, 249); }
.tint-fg-up-68 { color: rgb(256, 210, 252); }
.tint-bg-up-68 { background-color: rgb(256, 210, 252); }
.tint-fg-up-69 { color: rgb(259, 213, 255); }
.tint-bg-up-69 { background-color: rgb(259, 213, 255); }
.tint-fg-up-70 { color: rgb(262, 216, 258); }
.tint-bg-up-70 { background-color: rgb(262, 216, 258); }
.tint-fg-up-71 { color: rgb(265, 219, 261); }
.tint-bg-up-71 { background-color: rgb(265, 219, 261); }
.tint-fg-up-72 { color: rgb(268, 222, 264); }
.tint-bg-up-72 { background-color: rgb(268, 222, 264); }
.tint-fg-up-73 { color: rgb(271, 225, 267); }
.tint-bg-up-73 { background-color: rgb(271, 225, 267); }
.tint-fg-up-74 { color: rgb(274, 228, 270); }
.tint-bg-up-74 { background-color: rgb(274, 228, 270); }
.tint-fg-up-75 { color: rgb(277, 231, 273); }
.tint-bg-up-75 { background-color: rgb(277, 231, 273); }
.tint-fg-up-76 { color: rgb(280, 234, 276); }
.tint-bg-up-76 { background-color: rgb(280, 234, 276); }
.tint-fg-up-77 { color: rgb(283, 237, 279); }
.tint-bg-up-77 { background-color: rgb(283, 237, 279); }
.tint-fg-up-78 { color: rgb(286, 240, 282); }
.tint-bg-up-78 { background-color: rgb(286, 240, 282); }
.tint-fg-up-79 { color: rgb(289, 243, 285); }
.tint-bg-up-79 { background-color: rgb(289, 243, 285); }
.tint-fg-up-80 { color: rgb(292, 246, 288); }
.tint-bg-up-80 { background-color: rgb(292, 246, 288); }
.tint-fg-up-81 { color: rgb(295, 249, 291); }
.tint-bg-up-81 { background-color: rgb(295, 249, 291); }
.tint-fg-up-82 { color: rgb(298, 252, 294); }
.tint-bg-up-82 { background-color: rgb(298, 252, 294); }
.tint-fg-up-83 { color: rgb(301, 255, 297); }
.tint-bg-up-83 { background-color: rgb(301, 255, 297); }
.tint-fg-up-84 { color: rgb(304, 258, 300); }
.tint-bg-up-84 { background-color: rgb(304, 258, 300); }
.tint-fg-up-85 { color: rgb(307, 261, 303); }
.tint-bg-up-85 { background-color: rgb(307, 261, 303); }
.tint-fg-up-86 { color: rgb(310, 264, 306); }
.tint-bg-up-86 { background-color: rgb(310, 264, 306); }
.tint-fg-up-87 { color: rgb(313, 267, 309); }
.tint-bg-up-87 { background-color: rgb(313, 267, 309); }
.tint-fg-up-88 { color: rgb(316, 270, 312); }
.tint-bg-up-88 { background-color: rgb(316, 270, 312); }
.tint-fg-up-89 { color: rgb(319, 273, 315); }
.tint-bg-up-89 { background-color: rgb(319, 273, 315); }
.tint-fg-up-90 { color: rgb(322, 276, 318); }
.tint-bg-up-90 { background-color: rgb(322, 276, 318); }
.tint-fg-up-91 { color: rgb(325, 279, 321); }
.tint-bg-up-91 { background-color: rgb(325, 279, 321); }
.tint-fg-up-92 { color: rgb(328, 282, 324); }
.tint-bg-up-92 { background-color: rgb(328, 282, 324); }
.tint-fg-up-93 { color: rgb(331, 285, 327); }
.tint-bg-up-93 { background-color: rgb(331, 285, 327); }
.tint-fg-up-94 { color: rgb(334, 288, 330); }
.tint-bg-up-94 { background-color: rgb(334, 288, 330); }
.tint-fg-up-95 { color: rgb(337, 291, 333); }
.tint-bg-up-95 { background-color: rgb(337, 291, 333); }
.tint-fg-up-96 { color: rgb(340, 294, 336); }
.tint-bg-up-96 { background-color: rgb(340, 294, 336); }
.tint-fg-up-97 { color: rgb(343, 297, 339); }
.tint-bg-up-97 { background-color: rgb(343, 297, 339); }
.tint-fg-up-98 { color: rgb(346, 300, 342); }
.tint-bg-up-98 { background-color: rgb(346, 300, 342); }
.tint-fg-up-99 { color: rgb(349, 303, 345); }
.tint-bg-up-99 { background-color: rgb(349, 303, 345); }
.tint-fg-up-100 { color: rgb(352, 306, 348); }
.tint-bg-up-100 { background-color: rgb(352, 306, 348); }
.tint-fg-down-0 { color: rgb(52, 6, 48); }
.tint-bg-down-0 { background-color: rgb(52, 6, 48); }
.tint-fg-down-1 { color: rgb(49, 3, 45); }
.tint-bg-down-1 { background-color: rgb(49, 3, 45); }
.tint-fg-down-2 { color: rgb(46, 0, 42); }
.tint-bg-down-2 { background-color: rgb(46, 0, 42); }
.tint-fg-down-3 { color: rgb(43, -3, 39); }
.tint-bg-down-3 { background-color: rgb(43, -3, 39); }
.tint-fg-down-4 { color: rgb(40, -6, 36); }
.tint-bg-down-4 { background-color: rgb(40, -6, 36); }
.tint-fg-down-5 { color: rgb(37, -9, 33); }
.tint-bg-down-5 { background-color: rgb(37, -9, 33); }
.tint-fg-down-6 { color: rgb(34, -12, 30); }
.tint-bg-down-6 { background-color: rgb(34, -12, 30); }
.tint-fg-down-7 { color: rgb(31, -15, 27); }
.tint-bg-down-7 { background-color: rgb(31, -15, 27); }
.tint-fg-down-8 { color: rgb(28, -18, 24); }
.tint-bg-down-8 { background-color: rgb(28, -18, 24); }
.tint-fg-down-9 { color: rgb(25, -21, 21); }
.tint-bg-down-9 { background-color: rgb(25, -21, 21); }
.tint-fg-down-10 { color: rgb(22, -24, 18); }
.tint-bg-down-10 { background-color: rgb(22, -24, 18); }
.tint-fg-down-11 { color: rgb(19, -27, 15); }
.tint-bg-down-11 { background-color: rgb(19, -27, 15); }
.tint-fg-down-12 { color: rgb(16, -30, 12); }
.tint-bg-down-12 { background-color: rgb(16, -30, 12); }
.tint-fg-down-13 { color: rgb(13, -33, 9); }
.tint-bg-down-13 { background-color: rgb(13, -33, 9); }
.tint-fg-down-14 { color: rgb(10, -36, 6); }
.tint-bg-down-14 { background-color: rgb(10, -36, 6); }
.tint-fg-down-15 { color: rgb(7, -39, 3); }
.tint-bg-down-15 { background-color: rgb(7, -39, 3); }
.tint-fg-down-16 { color: rgb(4, -42, 0); }
.tint-bg-down-16 { background-color: rgb(4, -42, 0); }
.tint-fg-down-17 { color: rgb(1, -45, -3); }
.tint-bg-down-17 { background-color: rgb(1, -45, -3); }
.tint-fg-down-18 { color: rgb(-2, -48, -6); }
.tint-bg-down-18 { background-color: rgb(-2, -48, -6); }
.tint-fg-down-19 { color: rgb(-5, -51, -9); }
.tint-bg-down-19 { background-color: rgb(-5, -51, -9); }
.tint-fg-down-20 { color: rgb(-8, -54, -12); }
.tint-bg-down-20 { background-color: rgb(-8, -54, -12); }
.tint-fg-down-21 { color: rgb(-11, -57, -15); }
.tint-bg-down-21 { background-color: rgb(-11, -57, -15); }
.tint-fg-down-22 { color: rgb(-14, -60, -18); }
.tint-bg-down-22 { background-color: rgb(-14, -60, -18); }
.tint-fg-down-23 { color: rgb(-17, -63, -21); }
.tint-bg-down-23 { background-color: rgb(-17, -63, -21); }
.tint-fg-down-24 { color: rgb(-20, -66, -24); }
.tint-bg-down-24 { background-color: rgb(-20, -66, -24); }
.tint-fg-down-25 { color: rgb(-23, -69, -27); }
.tint-bg-down-25 { background-color: rgb(-23, -69, -27); }
.tint-fg-down-26 { color: rgb(-26, -72, -30); }
.tint-bg-down-26 { background-color: rgb(-26, -72, -30); }
.tint-fg-down-27 { color: rgb(-29, -75, -33); }
.tint-bg-down-27 { background-color: rgb(-29, -75, -33); }
.tint-fg-down-28 { color: rgb(-32, -78, -36); }
.tint-bg-down-28 { background-color: rgb(-32, -78, -36); }
.tint-fg-down-29 { color: rgb(-35, -81, -39); }
.tint-bg-down-29 { background-color: rgb(-35, -81, -39); }
.tint-fg-down-30 { color: rgb(-38, -84, -42); }
.tint-bg-down-30 { background-color: rgb(-38, -84, -42); }
.tint-fg-down-31 { color: rgb(-41, -87, -45); }
.tint-bg-down-31 { background-color: rgb(-41, -87, -45); }
.tint-fg-down-32 { color: rgb(-44, -90, -48); }
.tint-bg-down-32 { background-color: rgb(-44, -90, -48); }
.tint-fg-down-33 { color: rgb(-47, -93, -51); }
.tint-bg-down-33 { background-color: rgb(-47, -93, -51); }
.tint-fg-down-34 { color: rgb(-50, -96, -54); }
.tint-bg-down-34 { background-color: rgb(-50, -96, -54); }
.tint-fg-down-35 { color: rgb(-53, -99, -57); }
.tint-bg-down-35 { background-color: rgb(-53, -99, -57); }
.tint-fg-down-36 { color: rgb(-56, -102, -60); }
.tint-bg-down-36 { background-color: rgb(-56, -102, -60); }
.tint-fg-down-37 { color: rgb(-59, -105, -63); }
.tint-bg-down-37 { background-color: rgb(-59, -105, -63); }
.tint-fg-down-38 { color: rgb(-62, -108, -66); }
.tint-bg-down-38 { background-color: rgb(-62, -108, -66); }
.tint-fg-down-39 { color: rgb(-65, -111, -69); }
.tint-bg-down-39 { background-color: rgb(-65, -111, -69); }
.tint-fg-down-40 { color: rgb(-68, -114, -72); }
.tint-bg-down-40 { background-color: rgb(-68, -114, -72); }
.tint-fg-down-41 { color: rgb(-71, -117, -75); }
.tint-bg-down-41 { background-color: rgb(-71, -117, -75); }
.tint-fg-down-42 { color: rgb(-74, -120, -78); }
.tint-bg-down-42 { background-color: rgb(-74, -120, -78); }
.tint-fg-down-43 { color: rgb(-77, -123, -81); }
.tint-bg-down-43 { background-color: rgb(-77, -123, -81); }
.tint-fg-down-44 { color: rgb(-80, -126, -84); }
.tint-bg-down-44 { background-color: rgb(-80, -126, -84); }
.tint-fg-down-45 { color: rgb(-83, -129, -87); }
.tint-bg-down-45 { background-color: rgb(-83, -129, -87); }
.tint-fg-down-46 { color: rgb(-86, -132, -90); }
.tint-bg-down-46 { background-color: rgb(-86, -132, -90); }
.tint-fg-down-47 { color: rgb(-89, -135, -93); }
.tint-bg-down-47 { background-color: rgb(-89, -135, -93); }
.tint-fg-down-48 { color: rgb(-92, -138, -96); }
.tint-bg-down-48 { background-color: rgb(-92, -138, -96); }
.tint-fg-down-49 { color: rgb(-95, -141, -99); }
.tint-bg-down-49 { background-color: rgb(-95, -141, -99); }
.tint-fg-down-50 { color: rgb(-98, -144, -102); }
.tint-bg-down-50 { background-color: rgb(-98, -144, -102); }
.tint-fg-down-51 { color: rgb(-101, -147, -105); }
.tint-bg-down-51 { background-color: rgb(-101, -147, -105); }
.tint-fg-down-52 { color: rgb(-104, -150, -108); }
.tint-bg-down-52 { background-color: rgb(-104, -150, -108); }
.tint-fg-down-53 { color: rgb(-107, -153, -111); }
.tint-bg-down-53 { background-color: rgb(-107, -153, -111); }
.tint-fg-down-54 { color: rgb(-110, -156, -114); }
.tint-bg-down-54 { background-color: rgb(-110, -156, -114); }
.tint-fg-down-55 { color: rgb(-113, -159, -117); }
.tint-bg-down-55 { background-color: rgb(-113, -159, -117); }
.tint-fg-down-56 { color: rgb(-116, -162, -120); }
.tint-bg-down-56 { background-color: rgb(-116, -162, -120); }
.tint-fg-down-57 { color: rgb(-119, -165, -123); }
.tint-bg-down-57 { background-color: rgb(-119, -165, -123); }
.tint-fg-down-58 { color: rgb(-122, -168, -126); }
.tint-bg-down-58 { background-color: rgb(-122, -168, -126); }
.tint-fg-down-59 { color: rgb(-125, -171, -129); }
.tint-bg-down-59 { background-color: rgb(-125, -171, -129); }
.tint-fg-down-60 { color: rgb(-128, -174, -132); }
.tint-bg-down-60 { background-color: rgb(-128, -174, -132); }
.tint-fg-down-61 { color: rgb(-131, -177, -135); }
.tint-bg-down-61 { background-color: rgb(-131, -177, -135); }
.tint-fg-down-62 { color: rgb(-134, -180, -138); }
.tint-bg-down-62 { background-color: rgb(-134, -180, -138); }
.tint-fg-down-63 { color: rgb(-137, -183, -141); }
.tint-bg-down-63 { background-color: rgb(-137, -183, -141); }
.tint-fg-down-64 { color: rgb(-140, -186, -144); }
.tint-bg-down-64 { background-color: rgb(-140, -186, -144); }
.tint-fg-down-65 { color: rgb(-143, -189, -147); }
.tint-bg-down-65 { background-color: rgb(-143, -189, -147); }
.tint-fg-down-66 { color: rgb(-146, -192, -150); }
.tint-bg-down-66 { background-color: rgb(-146, -192, -150); }
.tint-fg-down-67 { color: rgb(-149, -195, -153); }
.tint-bg-down-67 { background-color: rgb(-149, -195, -153); }
.tint-fg-down-68 { color: rgb(-152, -198, -156); }
.tint-bg-down-68 { background-color: rgb(-152, -198, -156); }
.tint-fg-down-69 { color: rgb(-155, -201, -159); }
.tint-bg-down-69 { background-color: rgb(-155, -201, -159); }
.tint-fg-down-70 { color: rgb(-158, -204, -162); }
.tint-bg-down-70 { background-color: rgb(-158, -204, -162); }
.tint-fg-down-71 { color: rgb(-161, -207, -165); }
.tint-bg-down-71 { background-color: rgb(-161, -207, -165); }
.tint-fg-down-72 { color: rgb(-164, -210, -168); }
.tint-bg-down-72 { background-color: rgb(-164, -210, -168); }
.tint-fg-down-73 { color: rgb(-167, -213, -171); }
.tint-bg-down-73 { background-color: rgb(-167, -213, -171); }
.tint-fg-down-74 { color: rgb(-170, -216, -174); }
.tint-bg-down-74 { background-color: rgb(-170, -216, -174); }
.tint-fg-down-75 { color: rgb(-173, -219, -177); }
.tint-bg-down-75 { background-color: rgb(-173, -219, -177); }
.tint-fg-down-76 { color: rgb(-176, -222, -180); }
.tint-bg-down-76 { background-color: rgb(-176, -222, -180); }
.tint-fg-down-77 { color: rgb(-179, -225, -183); }
.tint-bg-down-77 { background-color: rgb(-179, -225, -183); }
.tint-fg-down-78 { color: rgb(-182, -228, -186); }
.tint-bg-down-78 { background-color: rgb(-182, -228, -186); }
.tint-fg-down-79 { color: rgb(-185, -231, -189); }
.tint-bg-down-79 { background-color: rgb(-185, -231, -189); }
.tint-fg-down-80 { color: rgb(-188, -234, -192); }
.tint-bg-down-80 { background-color: rgb(-188, -234, -192); }
.tint-fg-down-81 { color: rgb(-191, -237, -195); }
.tint-bg-down-81 { background-color: rgb(-191, -237, -195); }
.tint-fg-down-82 { color: rgb(-194, -240, -198); }
.tint-bg-down-82 { background-color: rgb(-194, -240, -198); }
.tint-fg-down-83 { color: rgb(-197, -243, -201); }
.tint-bg-down-83 { background-color: rgb(-197, -243, -201); }
.tint-fg-down-84 { color: rgb(-200, -246, -204); }
.tint-bg-down-84 { background-color: rgb(-200, -246, -204); }
.tint-fg-down-85 { color: rgb(-203, -249, -207); }
.tint-bg-down-85 { background-color: rgb(-203, -249, -207); }
.tint-fg-down-86 { color: rgb(-206, -252, -210); }
.tint-bg-down-86 { background-color: rgb(-206, -252, -210); }
.tint-fg-down-87 { color: rgb(-209, -255, -213); }
.tint-bg-down-87 { background-color: rgb(-209, -255, -213); }
.tint-fg-down-88 { color: rgb(-212, -258, -216); }
.tint-bg-down-88 { background-color: rgb(-212, -258, -216); }
.tint-fg-down-89 { color: rgb(-215, -261, -219); }
.tint-bg-down-89 { background-color: rgb(-215, -261, -219); }
.tint-fg-down-90 { color: rgb(-218, -264, -222); }
.tint-bg-down-90 { background-color: rgb(-218, -264, -222); }
.tint-fg-down-91 { color: rgb(-221, -267, -225); }
.tint-bg-down-91 { background-color: rgb(-221, -267, -225); }
.tint-fg-down-92 { color: rgb(-224, -270, -228); }
.tint-bg-down-92 { background-color: rgb(-224, -270, -228); }
.tint-fg-down-93 { color: rgb(-227, -273, -231); }
.tint-bg-down-93 { background-color: rgb(-227, -273, -231); }
.tint-fg-down-94 { color: rgb(-230, -276, -234); }
.tint-bg-down-94 { background-color: rgb(-230, -276, -234); }
.tint-fg-down-95 { color: rgb(-233, -279, -237); }
.tint-bg-down-95 { background-color: rgb(-233, -279, -237); }
.tint-fg-down-96 { color: rgb(-236, -282, -240); }
.tint-bg-down-96 { background-color: rgb(-236, -282, -240); }
.tint-fg-down-97 { color: rgb(-239, -285, -243); }
.tint-bg-down-97 { background-color: rgb(-239, -285, -243); }
.tint-fg-down-98 { color: rgb(-242, -288, -246); }
.tint-bg-down-98 { background-color: rgb(-242, -288, -246); }
.tint-fg-down-99 { color: rgb(-245, -291, -249); }
.tint-bg-down-99 { background-color: rgb(-245, -291, -249); }
.tint-fg-down-100 { color: rgb(-248, -294, -252); }
.tint-bg-down-100 { background-color: rgb(-248, -294, -252); }
